<div class="main">
  <div class="header">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>Product ID</th>
          <td mat-cell *matCellDef="let item">{{ item.productId }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Product Name</th>
          <td mat-cell *matCellDef="let item">{{ item.productName }}</td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef>Class</th>
          <td mat-cell *matCellDef="let item">{{ item.classification }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Capital</th>
          <td mat-cell *matCellDef="let item">{{ item.price }}</td>
        </ng-container>

        <ng-container matColumnDef="srp">
          <th mat-header-cell *matHeaderCellDef>Retail Price</th>
          <td mat-cell *matCellDef="let item">{{ item.srp }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>QTY</th>
          <td mat-cell *matCellDef="let item">{{ item.soldQuantity }}</td>
        </ng-container>

        <ng-container matColumnDef="isDiscounted">
          <th mat-header-cell *matHeaderCellDef>Is Discounted</th>
          <td mat-cell *matCellDef="let item">{{ item.isDiscounted }}</td>
        </ng-container>

        <ng-container matColumnDef="pharmacist">
          <th mat-header-cell *matHeaderCellDef>Pharmacist</th>
          <td mat-cell *matCellDef="let item">{{ item.pharmacist }}</td>
        </ng-container>

        <ng-container matColumnDef="transactionDate">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let item">{{ item.transactionDate }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button (click)="removeProductFromList(item)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="side-form">
      <div class="label">
        <mat-list role="list">
          <mat-list-item role="listitem"><mat-label>Total Price: {{totalPrice | currency:'PHP'}}</mat-label></mat-list-item>
          <mat-list-item role="listitem"><mat-label>Payment: {{payment | currency:'PHP'}}</mat-label></mat-list-item>
          <mat-list-item role="listitem"><mat-label>Change: {{change | currency:'PHP'}}</mat-label></mat-list-item>
        </mat-list>
      </div>
      <form [formGroup]="cartForm">
        <div class="payment-form-field">
          <mat-form-field appearance="outline">
            <mat-label>Payment</mat-label>
            <input formControlName="payment" matInput oninput="this.value = this.value.replace(/[^0-9]/g, '')">
          </mat-form-field>
        </div>
      </form>
      <div class="cart-form-buttons-1">
        <button mat-raised-button color="warn" (click)="clearField()">Clear</button>
        <button mat-raised-button color="primary" [disabled]="calcButtonStatus" (click)="confirmPayment()">Confirm</button>
      </div>
      <div class="cart-form-buttons-2">
        <button mat-raised-button color="primary" [disabled]="receiptButtonStatus">Print</button>
        <button mat-raised-button color="primary" [disabled]="receiptButtonStatus" (click)="generateReceipt()">Save PDF</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="space"></div>
    <div class="other-button-wrapper">
      <button mat-raised-button color="warn" (click)="confirmClose()">Close</button>
    </div>
  </div>
</div>
