.main {

  .product-info{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-fields {
    .form {
      display: flex;
      justify-content: space-between;

      mat-form-field {
        width: 30%;
      }
    }
  }

  .form-footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

    .space {
      width: 70%;
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
    }
  }
}
