.main {
  .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin-top: 10px;

    .space-left {
      width: 30%;
    }

    .form {
      width: 30%;
      text-align: center;

      .date-field {
        background-color: white;
        mat-form-field {
          width: 100%;
        }
      }

      .form-buttons {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .space-right {
      width: 30%;
    }
  }
  .report-cards {
    .main-card {
      margin-top: 10px;

      mat-card {
        background-color: mediumpurple;
        color: white;
      }
    }

    .breakdown-card {
      margin-top: 10px;

      .breakdown-background-card {
        color: white;
        background-color: mediumpurple;
        .report-by-class-card{
          display: flex;
          justify-content: space-between;
          align-items: center;

          mat-card {
            width: 15%;
          }
        }
      }
    }
  }
}
