
.background {
  background-color: #F6F6F6;
  width: 100%;
  min-height: 100%;
  background-size: 100% 100%;
  position: absolute;

  .container {
    /* Center the content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use viewport height for full-screen height */
  }

  /* Header styles */
  .row {
    /* Layout Properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    overflow-x: hidden;

    /* UI Properties */
    background: mediumpurple;

    .header-logo {
      height: 3em;
      border: 0;
      margin: 1.2em 0; /* Combine margin-top and margin-bottom */
    }

    .header-text {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      margin-right: 1em; /* Adjust the right margin as needed */
    }
  }

  /* Footer styles */
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4%;

    .footer-text {
      font-size: 12px;
      letter-spacing: 0px;
      color: #656565;
      opacity: 1;
    }
  }
}
