.main {
  .prompt-icon {
    height: 25%;
    text-align: center;
  }

  .prompt-message {
    height: 50%;
    text-align: center;
  }

  .prompt-buttons {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%;
    margin-top: 10%;
  }
}
