.main {
.prompt-icon {
  height: 25%;
  text-align: center;
}

.prompt-message {
  height: 50%;
  text-align: center;
}

.prompt-buttons {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
}
