<div class="main">
  <div class="form-title">
    <h1 mat-dialog-title>ADD PRODUCT</h1>
  </div>
  <div class="form-fields">
    <form [formGroup]="productForm">
      <div style="display: flex; justify-content: space-between;">
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Product Category</mat-label>
          <mat-select formControlName="category" placeholder="category...">
            <mat-option [value]="1">Branded</mat-option>
            <mat-option [value]="2">Generic</mat-option>
            <mat-option [value]="3">Galenical</mat-option>
            <mat-option [value]="4">Ice Cream</mat-option>
            <mat-option [value]="5">Others</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="flex: 1; margin-left: 10px;">
          <mat-label>Product Name</mat-label>
          <input formControlName="name" type="text" matInput placeholder="product name...">
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: space-between;">
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Capital</mat-label>
          <input formControlName="pricePerPc" matInput type="number" placeholder="price..." pattern="[0-9]+([.][0-9]+)?" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
        </mat-form-field>

        <mat-form-field appearance="outline" style="flex: 1; margin-left: 10px;">
          <mat-label>SRP</mat-label>
          <input formControlName="srpPerPc" matInput type="text" placeholder="srp..." pattern="[0-9]+([.][0-9]+)?" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: space-between;">
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Total Stocks</mat-label>
          <input formControlName="totalStock" type="number" matInput type="number" placeholder="total stocks..." oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </mat-form-field>

        <mat-form-field appearance="outline" style="flex: 1; margin-left: 10px;">
          <mat-label>Expiration Date</mat-label>
          <input formControlName="expiryDateTemp" type="text" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="form-footer">
    <div class="space"></div>
    <div class="form-buttons">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">ADD</button>
    </div>
  </div>
</div>
